#include "regrepl.rc.h"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION    2,0,0,0
PRODUCTVERSION 2,0,0,0
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS    0
FILEOS         VOS__WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4" // LANG_ENGLISH/SUBLANG_ENGLISH_US
		BEGIN
			VALUE "CompanyName", "Olof Lagerkvist\000"
			VALUE "FileDescription", "Registry Replace Tool\000"
			VALUE "FileVersion", "2.0.0\000"
			VALUE "InternalName", "regrepl\000"
			VALUE "LegalCopyright", "Copyright \251 Olof Lagerkvist, 1998-2005\000"
			VALUE "LegalTrademarks", "\000"
			VALUE "OriginalFilename", "regrepl.exe\000"
			VALUE "ProductName", "Registry Replace Tool\000"
			VALUE "ProductVersion", "2.00\000"
			VALUE "PhoneNumber", "+46 70 345 89 52\000"
			VALUE "WebAddress", "http://www.ltr-data.se\000"
			VALUE "E-mailAddress", "olof@ltr-data.se\000"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
	VALUE "Translation", 0x409, 1252

	END
END

IDI_APPICON ICON DISCARDABLE "regrepl.ico"

IDD_MAINDLG DIALOG 100, 50, 224, 136
EXSTYLE WS_EX_APPWINDOW
STYLE DS_3DLOOK | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "Registry Replace Tool"
FONT 8, "MS Sans Serif"
{
 CONTROL "&Text to replace:", IDC_STATICFROM, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 2, 168, 8
 CONTROL "", IDC_EDITFROM, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 12, 216, 12
 CONTROL "Replace &with text:", IDC_STATICTO, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 26, 168, 8
 CONTROL "", IDC_EDITTO, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 36, 216, 12
 CONTROL "Rem&ote computer name (leave blank for this computer):", IDC_STATICSERVER, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 50, 216, 8
 CONTROL "", IDC_EDITSERVER, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 60, 216, 12
 CONTROL "Root key", IDC_GROUPBOXROOTKEY, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 74, 216, 34
 CONTROL "HKEY_&CLASSES_ROOT", IDC_RADIOBUTTON_HKCR, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 8, 84, 100, 9
 CONTROL "HKEY_CURRENT_&USER", IDC_RADIOBUTTON_HKCU, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 96, 100, 9
 CONTROL "HKEY_LOCAL_&MACHINE", IDC_RADIOBUTTON_HKLM, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 85, 100, 9
 CONTROL "HKEY_USE&RS", IDC_RADIOBUTTON_HKU, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 96, 100, 9
 CONTROL "Su&bkey (or blank for entire root-key):", 112, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 110, 168, 8
 CONTROL "", IDC_EDITSUBKEY, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 120, 136, 12
 CONTROL "&Start", IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 144, 120, 36, 12
 CONTROL "&About", IDHELP, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 120, 36, 12
}

IDD_DIALOGPROGRESS DIALOG 0, 0, 355, 58
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Registry Replace Tool"
FONT 8, "MS Sans Serif"
{
 CONTROL "&Cancel", IDCANCEL, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 300, 40, 50, 14
 CONTROL "", IDC_STATICSTATUS, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 4, 4, 348, 12
 CONTROL "", IDC_STATIC_CURKEY, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 4, 17, 348, 18
}

